{{>layout/insert/header}}
<body>
<script>
$(document).ready(function() {

	  $('#summernote').summernote({
 	    	placeholder: 'content',
	        minHeight: null,
	        maxHeight: null,
	        focus: true,
	        lang : 'ko-KR',
	        prettifyHtml:false
	  });
	});

</script>
<form class="jotform-form" action="https://submit.jotform.com/submit/212438682252456/" method="post" name="form_212438682252456" id="212438682252456" accept-charset="utf-8" autocomplete="on">
    <input type="hidden" name="formID" value="212438682252456" />
    <input type="hidden" id="JWTContainer" value="" />
    <input type="hidden" id="cardinalOrderNumber" value="" />
    <div role="main" class="form-all">
        <style>
      .form-all:before { background: none;}
    </style>
        <ul class="form-section page-section">
            <li id="cid_1" class="form-input-wide" data-type="control_head">
                <div class="form-header-group  header-large">
                    <div class="header-text httal htvam">
                        <h1 id="header_1" class="form-header" data-component="header">
                            글쓰기
                        </h1>
                    </div>
                </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_15">
                <label class="form-label form-label-top form-label-auto" id="label_15" for="input_15"> 제목 </label>
                <div id="cid_15" class="form-input-wide" data-layout="half">
                    <input type="text" id="title" name="title" data-type="input-textbox" class="form-textbox" style="width:310px" size="310" value="" data-component="textbox" aria-labelledby="label_15" />
                </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_17">
                <label class="form-label form-label-top form-label-auto" id="label_17" for="input_17"> 작성자 </label>
                <div id="cid_17" class="form-input-wide" data-layout="half">
                    <input type="text" id="author" name="author" data-type="input-textbox" class="form-textbox" style="width:310px" size="310" value="" data-component="textbox" aria-labelledby="label_17" />
                </div>
            </li>
            <li class="form-line" data-type="control_dropdown" id="id_16">
                <label class="form-label form-label-top form-label-auto" id="label_16" for="input_16"> 카테고리 </label>
                <div id="cid_16" class="form-input-wide" data-layout="half">
                    <select class="form-dropdown" id="category" name="category" style="width:310px" data-component="dropdown">
                        <option value=""> Please Select </option>
                        <option value="">  </option>
                    </select>
                </div>
            </li>
            <li class="form-line" data-type="control_textarea" id="id_12">
                <label class="form-label form-label-top form-label-auto" id="label_12" for="input_12"> 내용 </label>
                <div id="cid_12" class="form-input-wide" data-layout="full">
                    <textarea id="summernote" name="content"></textarea>
                </div>
            </li>
            <li class="form-line" data-type="control_button" id="id_2">
                <div id="cid_2" class="form-input-wide" data-layout="full">
                    <div data-align="left" class="form-buttons-wrapper form-buttons-left   jsTest-button-wrapperField">

                        <button id="input_2" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
                            Submit
                        </button>
                    </div>
                </div>
            </li>
            <li style="display:none">
                Should be Empty:
                <input type="text" name="website" value="" />
            </li>
        </ul>
    </div>

</form>
</body>
{{>layout/insert/footer}}