{{>layout/post/header}}
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">KANBOT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/posts/blog">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html">About</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/js/app/assets/img/header-bg.jpg')">

    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="post-heading">
                    <h1>{{posts.id}}.  {{posts.title}}</h1>
                    <h2> {{posts.category}}</h2>
                    <span class="meta">
                                Posted by
                        {{posts.author}}
                            </span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">

                {{{posts.content}}}


            </div>
        </div>
    </div>
</article>
<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <button type="button" onclick="location.href='/posts/blog' " style="border: 0; outline: 0;">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="far fa-address-book fa-stack-1x fa-inverse"></i>
                                    </span>
                            <span><h3>목록</h3></span>

                        </button>

                    </li>
                    <li class="list-inline-item">
                        <button type="button" onclick="location.href='/posts/update/{{id}}'" style="border: 0; outline: 0;">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fas fa-atlas fa-stack-1x fa-inverse"></i>
                                    </span>
                            <span><h3>수정</h3></span>

                        </button>
                    </li>
                    <li class="list-inline-item">
                        <button type="button" id="btn-delete" style="border: 0; outline: 0;">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="far fa-trash-alt fa-stack-1x fa-inverse"></i>
                                    </span>
                            <span><h3>삭제</h3></span>

                        </button>
                    </li>
                </ul>
                <div class="small text-center text-muted fst-italic">Copyright &copy; KANBOT</div>
            </div>
        </div>
    </div>
</footer>
<script src="/js/app/index.js"></script>
<!-- Bootstrap core JS-->
{{>layout/post/footer}}
