{{>layout/dev/header}}

<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">KANBOT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/posts/blog">Home</a></li>
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="#">About</a></li>

            </ul>
        </div>
    </div>
</nav>
<!-- Page Header-->
<header class="masthead" style="background-image: url('/js/app/assets/dev/header-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>배포 환경</h1>
                    <span class="subheading">Hosting environment</span>
                </div>
            </div>
        </div>
    </div>

</header>
<section class="page-section bg-light" id="portfolio">
    <center><div>

        <div class="row">

            <!-- 아웃 div 22 시작 -->
            <div class="col-lg-1"></div>
            <div class="col-lg-21">
                <div class="row">
                    <!-- 1단 시작 -->
                    <div class="col-lg-23">

                    </div>

                    <div class="col-lg-5">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover" class="img-fluid">
                                    <div class="portfolio-hover-content"  ><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img  src="/js/app/assets/dev/s3.jpg" class="img-fluid" alt="..." /></a>
                        </div></div>
                    <div class="col-lg-8"></div>

                    <!-- 1단 끝 -->

                    <!-- 2단 시작 -->
                    <div class="col-lg-21"></div>
                    <div class="col-lg-5"><img src="/js/app/assets/dev/up.JPG"  class="img-fluid" alt="..." /></div>
                    <div class="col-lg-1"></div>
                    <div class="col-lg-5">
                        <img  src="/js/app/assets/dev/down.jpg"  class="img-fluid"alt="..." /></div>
                    <div class="col-lg-4"></div>
                    <!-- 2단 끝 -->

                    <!-- 3단 시작 -->
                    <div class="col-lg-5">
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover" class="img-fluid" >
                                    <div class="portfolio-hover-content"  ><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img src="/js/app/assets/dev/user.jpg" class="img-fluid" alt="..." /></a>
                            <div class="portfolio-caption"class="img-fluid">
                                <div ><h5>개발자</h5></div>

                            </div>
                        </div>

                    </div>
                    <div class="col-lg-3"><img class="img-fluid" src="/js/app/assets/dev/push.JPG" style="padding-top: 40px" alt="..." /></div>
                    <div class="col-lg-5">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover" class="img-fluid">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img src="/js/app/assets/dev/github.jpg" class="img-fluid" alt="..." />
                            </a>
                            <div class="portfolio-caption" class="img-fluid">
                                <div><h5>깃허브</h5></div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3"><img class="img-fluid" src="/js/app/assets/dev/po.JPG"   style="padding-top: 40px" alt="..." /></div>
                    <div class="col-lg-5">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover" class="img-fluid">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img src="/js/app/assets/dev/tr.jpg" class="img-fluid" alt="..." />
                            </a>
                            <div class="portfolio-caption" class="img-fluid">
                                <div class="portfolio-caption-heading">Travis CI</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5"><img class="img-fluid" src="/js/app/assets/dev/st.JPG"  style="padding-top: 30px" alt="..." /></div>
                    <div class="col-lg-5">
                        <!-- Portfolio item 4-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                <div class="portfolio-hover" class="img-fluid">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img src="/js/app/assets/dev/code.jpg" class="img-fluid" alt="..." />
                            </a>
                            <div class="portfolio-caption" class="img-fluid">
                                <div class="portfolio-caption-heading">Code Deploy</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5"><img class="img-fluid" src="/js/app/assets/dev/dep.JPG"  style="padding-top: 30px" alt="..." /></div>

                    <!-- 3단 끝 -->
                </div>
            </div>
            <!-- 아웃div 22 시작 -->

            <!-- 아웃div 14 시작 -->
            <div class="col-lg-13">
                <!-- 레이아웃 시작 -->
                <div class="row" style="padding-top: 60px">
                    <center><h5>EC2 인스턴스 내부</h5></center>
                    <div class="col-lg-36" style="border: 2px solid red; border-radius: 2em;">

                        <!-- 1단 시작 -->
                        <div class="row">
                            <div class="col-lg-14"></div>
                            <div class="col-lg-8"><img src="/js/app/assets/dev/8081.jpg" class="img-fluid" alt="..." /></div>
                            <div class="col-lg-14"></div>
                            <!-- 1단 끝 -->
                            <!-- 2단 시작 -->
                            <div class="col-lg-8">
                                <!-- Portfolio item 4-->
                                <div class="portfolio-item">
                                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                        <div class="portfolio-hover" class="img-fluid">
                                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img src="/js/app/assets/dev/ec2.jpg" class="img-fluid" alt="..." />
                                    </a>

                                </div>
                            </div>
                            <div class="col-lg-7">
                                <img class="img-fluid" src="/js/app/assets/dev/both.jpg" class="img-fluid"  alt="..." />
                            </div>
                            <div class="col-lg-6"></div>
                            <div class="col-lg-7">
                                <img class="img-fluid" src="/js/app/assets/dev/upth.jpg" class="img-fluid"  alt="..." />
                            </div>
                            <div class="col-lg-8">

                                <div class="portfolio-item">

                                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                                        <div class="portfolio-hover" class="img-fluid">
                                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                        </div>
                                        <img src="/js/app/assets/dev/nginx.JPG" class="img-fluid" alt="..." />
                                    </a>

                                </div>
                            </div>


                            <!-- 2단 끝 -->


                            <div class="col-lg-14"></div>
                            <div class="col-lg-8"><img src="/js/app/assets/dev/8082.jpg" class="img-fluid" alt="..." /></div>
                            <div class="col-lg-14"></div>
                        </div>

                    </div>
                </div>
                <!-- 레이아웃 끝 -->

            </div>
            <!-- 아웃 div 14 끝 -->
            <!-- 1단 시작 -->
            <div class="col-lg-25"></div>
            <div class="col-lg-6">
                <div class="row" style="border: 2px solid ;" >
                    <div class="col-lg-12"><img class="img-fluid" src="/js/app/assets/dev/chrome.jpg" alt="..." /></div>
                    <div class="col-lg-12"><img class="img-fluid" src="/js/app/assets/dev/ex.jpg" alt="..." />   </div>
                    <div class="col-lg-12"><img class="img-fluid" src="/js/app/assets/dev/fox.jpg" alt="..." /></div>
                </div>

            </div>


            <div class="col-lg-3"><img class="img-fluid" src="/js/app/assets/dev/side.JPG" alt="..." /></div>
            <div class="col-lg-2"></div>
            <!-- 1단 끝 -->

            <!-- 2단 시작 -->
            <div class="col-lg-25"></div>
            <div class="col-lg-6" style="padding-top: 20px"><h5>사용자</h5></div>
            <div class="col-lg-5"></div>

            <!-- 2단 끝 -->

        </div>

    </div>
    </center>




</section>



<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/js/app/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">개발 언어</h2>
                            <p class="item-intro text-muted">Programming Language</p>
                            <div class="row text-center">
                                <div class="col-md-4">
                                    <span>
                                        <img src="/js/app/assets/img/java1.jpg" />
                                        <center><strong>
                                                <p style="font-size: 50px;">자바 </p>
                                            </strong></center>
                                    </span>



                                </div>

                                <div class="col-md-4">
                                    <span>
                                        <img src="/js/app/assets/img/js.jpg" width="225px" height="225px" />
                                        <strong>
                                            <p style="font-size: 35px;">자바<br>스크립트</p>
                                        </strong>
                                    </span>


                                </div>
                                <div class="col-md-4">
                                    <span>
                                        <img src="/js/app/assets/img/sql.jpg" width="225px" height="225px" />
                                        <strong>
                                            <p style="font-size: 50px;">SQL </p>
                                        </strong>
                                    </span>


                                </div>
                            </div>


                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/js/app/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">프레임 워크</h2>
                            <p class="item-intro text-muted">FrameWork</p>
                            <div class="row text-center">
                                <div class="col-md-6">
                                    <span>
                                        <img src="/js/app/assets/img/spring.jpg" width="225px" height="225px" />
                                        <center><strong>
                                                <p style="font-size: 50px;">스프링 </p>
                                            </strong></center>
                                    </span>



                                </div>

                                <div class="col-md-6">
                                    <span>
                                        <img src="/js/app/assets/img/and.jpg" width="225px" height="225px" />
                                        <strong>
                                            <p style="font-size: 50px;">안드로이드</p>
                                        </strong>
                                    </span>


                                </div>
                            </div>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/js/app/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">데이터베이스</h2>
                            <p class="item-intro text-muted">Database</p>
                            <div class="row text-center">
                                <div class="col-md-6">
                                    <span>
                                        <img src="/js/app/assets/img/oracle.jpg" width="225px" height="225px" />
                                        <center><strong>
                                                <p style="font-size: 50px;">오라클 DB </p>
                                            </strong></center>


                                    </span>



                                </div>

                                <div class="col-md-6">
                                    <span>
                                        <img src="/js/app/assets/img/mysql.jpg" width="225px" height="225px" />
                                        <strong>
                                            <p style="font-size: 50px;">Mysql</p>
                                        </strong>
                                    </span>


                                </div>
                            </div>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/js/app/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">배포환경</h2>
                            <p class="item-intro text-muted">Hosting environment</p>
                            <div class="row text-center">
                                <div class="col-md-4">
                                    <span>
                                        <img src="/js/app/assets/img/ec2.jpg" width="225px" height="225px" />
                                        <center><strong>
                                                <p style="font-size: 50px;">AWS-EC2</p>
                                            </strong></center>
                                    </span>



                                </div>
                                <div class="col-md-4">
                                    <span>
                                        <img src="/js/app/assets/img/rds.jpg" width="225px" height="225px" />
                                        <center><strong>
                                                <p style="font-size: 50px;">AWS-RDS</p>
                                            </strong></center>
                                    </span>



                                </div>

                                <div class="col-md-4">
                                    <span>
                                        <img src="/js/app/assets/img/s3.jpg" width="225px" height="225px" />
                                        <strong>
                                            <p style="font-size: 50px;">AWS-S3</p>
                                        </strong>
                                    </span>


                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-4">
                                    <span>
                                        <img src="/js/app/assets/img/code.jpg" width="225px" height="225px" />
                                        <center><strong>
                                                <p style="font-size: 30px;">AWS-CodeDeploy</p>
                                            </strong></center>
                                    </span>



                                </div>
                                <div class="col-md-4">
                                    <span>
                                        <img src="/js/app/assets/img/GitHub.jpg" width="225px" height="225px" />
                                        <center><strong>
                                                <p style="font-size: 50px;">Github</p>
                                            </strong></center>
                                    </span>



                                </div>

                                <div class="col-md-4">
                                    <span>
                                        <img src="/js/app/assets/img/travis.jpg" width="225px" height="225px" />
                                        <strong>
                                            <p style="font-size: 50px;">Travis-CI</p>
                                        </strong>
                                    </span>


                                </div>
                            </div>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/js/app/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">깃허브</h2>
                            <p class="item-intro text-muted">Github</p>
                            <img class="img-fluid d-block mx-auto" src="/js/app/assets/img/portfolio/5.jpg" alt="..." />
                            <a href=https://github.com/Kanbot>https://github.com/Kanbot</a><br><br><br>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/js/app/assets/img/close-icon.svg" alt="Close modal" /></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">개발 툴</h2>
                            <p class="item-intro text-muted">Programming Tool</p>
                            <div class="row text-center">
                                <div class="col-md-4">
                                    <span>
                                        <img src="/js/app/assets/img/intell.jpg" width="225px" height="225px" />
                                        <center><strong>
                                                <p style="font-size: 50px;">Intellij community</p>
                                            </strong></center>
                                    </span>



                                </div>
                                <div class="col-md-4">
                                    <span>
                                        <img src="/js/app/assets/img/eclipse.jpg" width="225px" height="225px" />
                                        <center><strong>
                                                <p style="font-size: 35px;">Eclipse</p>
                                            </strong></center>
                                    </span>



                                </div>

                                <div class="col-md-4">
                                    <span>
                                        <img src="/js/app/assets/img/android.jpg" width="225px" height="225px" />
                                        <strong>
                                            <p style="font-size: 35px;">Android Studio</p>
                                        </strong>
                                    </span>


                                </div>
                            </div>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Bootstrap core JS-->
{{>layout/dev/footer}}
