{{>layout/home/header}}
<body id="page-top">
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand" href="#page-top">kanbot</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link" href="/posts/blog">블로그</a></li>
                <!--<li class="nav-item"><a class="nav-link" href="/index">알고리즘</a></li> -->
                <li class="nav-item"><a class="nav-link" href="/posts/dev">배포 환경</a></li>
                <!-- userName이 존재하지 않아서 true인 경우 -->
                {{^name}}
                <li class="nav-item"><a class="nav-link" href="/posts/login">
                      로그인
                </a></li>
                {{/name}}
                <!-- userName이 존재해서 true인 경우 -->
                {{#name}}
                    <li class="nav-item">
                        <a  class="nav-link">  {{name}} 님 </a>
                    </li>
                    <li class="nav-item">
                       <a  class="nav-link" href="/logout">Logout</a>
                    </li>

                {{/name}}

            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="mb-5" src="/js/app/assets/img/avataaars.svg" width="400" height="400"/>
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">자바 개발자 유승호</h1>
        <!-- Icon Divider-->
        <br>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <br>


        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">자바 개발자 - 백엔드 개발자 - 탐구하는 사람</p>
    </div>
</header><!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About ME</h2>
            <h3 class="section-subheading text-muted">Introduction Myself</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/js/app/assets/img/about/1.jpg"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>유승호</h4>
                        <h4 class="subheading">1994.02.04</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">phone -010-3752-9346<br>email -tmdslr@gmail.com
                        <br>github -https://github.com/Kanbot</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/js/app/assets/img/about/2.jpg"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>자기소개</h4>

                    </div>
                    <div class="timeline-body"><p class="text-muted">취미: 알고리즘 코딩,게임 <br>관심분야: 웹개발,앱개발,자바 알고리즘
                        <br>버킷리스트: 세계 배낭 여행, 대형견 키우기 <br>좌우명: 어제의 나 보다 한걸음 나은 내가 되자.
                    </p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="/js/app/assets/img/about/3.jpg"
                                                 alt="..."/></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>항상 탐구하는 사람</h4>

                    </div>
                    <div class="timeline-body"><p class="text-muted">처음 프로그램을 코딩 했던 그 순간 처럼<br> 고민 하던 알고리즘을 풀어냈던 그 순간 같이
                        <br> 항상 새롭고 재밌게 코딩 하며 발전하는 <br> 개발자가 되고 싶다.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br/>
                        Of My
                        <br/>
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>

<!-- Portfolio Grid-->
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">기술 스택</h2>
            <h3 class="section-subheading text-muted">Technical Stacks</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/js/app/assets/img/portfolio/1.jpg" alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">개발 언어</div>
                        <div class="portfolio-caption-subheading text-muted">Programming Language</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/js/app/assets/img/portfolio/2.jpg" alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">프레임워크</div>
                        <div class="portfolio-caption-subheading text-muted">FrameWork</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/js/app/assets/img/portfolio/3.jpg" alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">데이터베이스</div>
                        <div class="portfolio-caption-subheading text-muted">Database</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/js/app/assets/img/portfolio/4.jpg" alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">배포환경</div>
                        <div class="portfolio-caption-subheading text-muted">Hosting environment</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/js/app/assets/img/portfolio/5.jpg" alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">깃허브</div>
                        <div class="portfolio-caption-subheading text-muted">Github</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <!-- Portfolio item 6-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal6">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="/js/app/assets/img/portfolio/6.jpg" alt="..."/>
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">개발 툴</div>
                        <div class="portfolio-caption-subheading text-muted">Programming Tool</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">자격증</h2>
            <h3 class="section-subheading text-muted">Certificate</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">정보처리산업기사</h4>
                <p class="text-muted">취득날짜:2021년 4월 24일 <br>공부기간:필기-2주 실기-한달</p>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">네트워크관리사 2급</h4>
                <p class="text-muted">취득날짜:2021년 5월 21일 <br>공부기간: 한달</p>
            </div>
            <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-lock fa-stack-1x fa-inverse"></i>
                        </span>
                <h4 class="my-3">리눅스마스터 2급</h4>
                <p class="text-muted">취득날짜:2021년 6월 12일 <br> 공부기간: 2주</p>
            </div>
        </div>
    </div>
</section>

<!-- Contact-->
<section class="page-section" id="contact">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Contact Me</h2>
            <br>
        </div>
        <!-- * * * * * * * * * * * * * * *-->
        <!-- * * SB Forms Contact Form * *-->
        <!-- * * * * * * * * * * * * * * *-->
        <!-- This
        form is pre-integrated with SB Forms.-->
        <!-- To make this form functional, sign up at-->
        <!-- https://startbootstrap.com/solution/contact-forms-->
        <!-- to get an API token!-->
        <form id="contactForm" method="post"
              action="https://script.google.com/macros/s/AKfycbwHIoW5TlIXVqjhXmeNmL6njn3H1AsLPRRhXefo/exec">
            <div class="row align-items-stretch mb-5">
                <div class="col-md-6">
                    <div class="form-group">
                        <!-- Name input-->
                        <input class="form-control" id="usr" name="username" type="text" placeholder="Your Name *"
                               data-sb-validations="required"/>
                        <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                    </div>
                    <div class="form-group">
                        <!-- Email address input-->
                        <input class="form-control" id="email" name="email" type="email" placeholder="Your Email *"
                               data-sb-validations="required,email"/>
                        <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                        <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                    </div>
                    <div class="form-group mb-md-0">
                        <!-- Phone number input-->
                        <input class="form-control" id="phone" name="phone" type="tel" placeholder="Your Phone *"
                               data-sb-validations="required"/>
                        <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-group-textarea mb-md-0">
                        <!-- Message input-->
                        <textarea class="form-control" id="comment" placeholder="Your Message *"
                                  data-sb-validations="required"></textarea>
                        <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                    </div>
                </div>
            </div>
            <!-- Submit success message-->
            <!---->
            <!-- This is what your users will see when the form-->
            <!-- has successfully submitted-->
            <div class="d-none" id="submitSuccessMessage">
                <div class="text-center text-white mb-3">
                    <div class="fw-bolder">Form submission successful!</div>
                </div>
            </div>
            <!-- Submit error message-->
            <!---->
            <!-- This is what your users will see when there is-->
            <!-- an error submitting the form-->
            <div class="d-none" id="submitErrorMessage">
                <div class="text-center text-danger mb-3">Error sending message!</div>
            </div>
            <!-- Submit Button-->
            <div class="text-center">
                <button class="btn btn-primary btn-xl" id="btn-email" type="submit">Send Message</button>
            </div>

        </form>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; KANBOT</div>


        </div>
    </div>
</footer>
<!-- Portfolio Modals-->
<!-- Portfolio item 1 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/js/app/assets/img/close-icon.svg"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">개발 언어</h2>
                            <p class="item-intro text-muted">Programming Language</p>
                            <div class="row text-center">
                                <div class="col-md-4">
                        <span>
                            <img src="/js/app/assets/img/java1.jpg"/>
                            <center><strong><p style="font-size: 50px;">자바 </p></strong></center>
                        </span>


                                </div>

                                <div class="col-md-4">
                         <span>
                            <img src="/js/app/assets/img/js.jpg" width="225px" height="225px"/>
                              <strong><p style="font-size: 35px;">자바<br>스크립트</p></strong>
                        </span>


                                </div>
                                <div class="col-md-4">
                        <span>
                            <img src="/js/app/assets/img/sql.jpg" width="225px" height="225px"/>
                            <strong><p style="font-size: 50px;">SQL </p></strong>
                        </span>


                                </div>
                            </div>


                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 2 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/js/app/assets/img/close-icon.svg"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">프레임 워크</h2>
                            <p class="item-intro text-muted">FrameWork</p>
                            <div class="row text-center">
                                <div class="col-md-6">
                        <span>
                            <img src="/js/app/assets/img/spring.jpg" width="225px" height="225px"/>
                            <center><strong><p style="font-size: 50px;">스프링 </p></strong></center>
                        </span>


                                </div>

                                <div class="col-md-6">
                         <span>
                            <img src="/js/app/assets/img/and.jpg" width="225px" height="225px"/>
                              <strong><p style="font-size: 50px;">안드로이드</p></strong>
                        </span>


                                </div>
                            </div>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 3 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/js/app/assets/img/close-icon.svg"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">데이터베이스</h2>
                            <p class="item-intro text-muted">Database</p>
                            <div class="row text-center">
                                <div class="col-md-6">
                        <span>
                            <img src="/js/app/assets/img/oracle.jpg" width="225px" height="225px"/>
                            <center><strong><p style="font-size: 50px;">오라클 DB </p></strong></center>


                        </span>


                                </div>

                                <div class="col-md-6">
                         <span>
                            <img src="/js/app/assets/img/mysql.jpg" width="225px" height="225px"/>
                              <strong><p style="font-size: 50px;">Mysql</p></strong>
                        </span>


                                </div>
                            </div>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 4 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/js/app/assets/img/close-icon.svg"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">배포환경</h2>
                            <p class="item-intro text-muted">Hosting environment</p>
                            <div class="row text-center">
                                <div class="col-md-4">
                        <span>
                            <img src="/js/app/assets/img/ec2.jpg" width="225px" height="225px"/>
                            <center><strong><p style="font-size: 50px;">AWS-EC2</p></strong></center>
                        </span>


                                </div>
                                <div class="col-md-4">
                        <span>
                            <img src="/js/app/assets/img/rds.jpg" width="225px" height="225px"/>
                            <center><strong><p style="font-size: 50px;">AWS-RDS</p></strong></center>
                        </span>


                                </div>

                                <div class="col-md-4">
                         <span>
                            <img src="/js/app/assets/img/s3.jpg" width="225px" height="225px"/>
                              <strong><p style="font-size: 50px;">AWS-S3</p></strong>
                        </span>


                                </div>
                            </div>
                            <div class="row text-center">
                                <div class="col-md-4">
                        <span>
                            <img src="/js/app/assets/img/code.jpg" width="225px" height="225px"/>
                            <center><strong><p style="font-size: 30px;">AWS-CodeDeploy</p></strong></center>
                        </span>


                                </div>
                                <div class="col-md-4">
                        <span>
                            <img src="/js/app/assets/img/GitHub.jpg" width="225px" height="225px"/>
                            <center><strong><p style="font-size: 50px;">Github</p></strong></center>
                        </span>


                                </div>

                                <div class="col-md-4">
                         <span>
                            <img src="/js/app/assets/img/travis.jpg" width="225px" height="225px"/>
                              <strong><p style="font-size: 50px;">Travis-CI</p></strong>
                        </span>


                                </div>
                            </div>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 5 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/js/app/assets/img/close-icon.svg"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">깃허브</h2>
                            <p class="item-intro text-muted">Github</p>
                            <img class="img-fluid d-block mx-auto" src="/js/app/assets/img/portfolio/5.jpg" alt="..."/>
                            <a href=https://github.com/Kanbot>https://github.com/Kanbot</a><br><br><br>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Portfolio item 6 modal popup-->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-bs-dismiss="modal"><img src="/js/app/assets/img/close-icon.svg"
                                                                  alt="Close modal"/></div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="modal-body">
                            <!-- Project details-->
                            <h2 class="text-uppercase">개발 툴</h2>
                            <p class="item-intro text-muted">Programming Tool</p>
                            <div class="row text-center">
                                <div class="col-md-4">
                        <span>
                            <img src="/js/app/assets/img/intell.jpg" width="225px" height="225px"/>
                            <center><strong><p style="font-size: 50px;">Intellij community</p></strong></center>
                        </span>


                                </div>
                                <div class="col-md-4">
                        <span>
                            <img src="/js/app/assets/img/eclipse.jpg" width="225px" height="225px"/>
                            <center><strong><p style="font-size: 35px;">Eclipse</p></strong></center>
                        </span>


                                </div>

                                <div class="col-md-4">
                         <span>
                            <img src="/js/app/assets/img/android.jpg" width="225px" height="225px"/>
                              <strong><p style="font-size: 35px;">Android Studio</p></strong>
                        </span>


                                </div>
                            </div>
                            <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                <i class="fas fa-times me-1"></i>
                                Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{>layout/home/footer}}