<!--index.js 추가-->
<script src="/js/app/index.js"></script>
<script type="text/javascript">


$(function(){


$("#selboxDirect").hide();



$("#category").change(function() {


		if($("#category").val() == "direct") {

			$("#selboxDirect").show();

		}  else {

			$("#selboxDirect").hide();

		}



	})

});
</script>
<script>
$(document).ready(function() {

	  $('#summernote').summernote({
      callbacks: {
	        	onImageUpload: function(files, editor, welEditable) {
	        		for(var i = files.length -1; i>=0; i--) {
	        			sendFile(files[i], this);
	        		}
	        	}
	        },
	  height: 300,
    codemirror: {
      mode: 'text/html',
      htmlMode: true,
      lineNumbers: true,
      theme: 'monokai'
    },

	  toolbar: [
			    // [groupName, [list of button]]
			    ['fontname', ['fontname']],
			    ['fontsize', ['fontsize']],
			    ['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
			    ['color', ['forecolor','color']],
			    ['table', ['table']],
			    ['para', ['ul', 'ol', 'paragraph']],
			    ['height', ['height']],
			    ['insert',['picture','link','video']],
			    ['view', ['fullscreen', 'help']]
			  ],
			fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋움체','바탕체'],
			fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72'],
 	    	placeholder: 'content',
	        minHeight: null,
	        maxHeight: null,
	        focus: true,
	        lang : 'ko-KR',
	        prettifyHtml:false,



	  });
	});

</script>

</body>


</html>
